In [0]:
%sql
SELECT * FROM stores;

Store,Type,Size
1,A,151315
2,A,202307
3,B,37392
4,A,205863
5,B,34875
6,A,202505
7,B,70713
8,A,155078
9,B,125833
10,B,126512
11,A,207499
12,B,112238
13,A,219622
14,A,200898
15,B,123737
16,B,57197
17,B,93188
18,B,120653
19,A,203819
20,A,203742
21,B,140167
22,B,119557
23,B,114533
24,A,203819
25,B,128107
26,A,152513
27,A,204184
28,A,206302
29,B,93638
30,C,42988
31,A,203750
32,A,203007
33,A,39690
34,A,158114
35,B,103681
36,A,39910
37,C,39910
38,C,39690
39,A,184109
40,A,155083
41,A,196321
42,C,39690
43,C,41062
44,C,39910
45,B,118221

In [0]:
%sql
CREATE TABLE walmart AS 
SELECT s.Size, s.type, f.Date, f.Weekly_Sales, f.Holiday_Flag,f.Temperature,f.Fuel_Price,f.CPI, f.Unemployment  FROM stores s
JOIN features f
USING(Store)
limit 5

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-8121064074574615>, line 1
----> 1 get_ipython().run_cell_magic('sql', '', 'CREATE TABLE walmart AS \nSELECT s.Size, s.type, f.Date, f.Weekly_Sales, f.Holiday_Flag,f.Temperature,f.Fuel_Price,f.CPI, f.Unemployment  FROM stores s\nJOIN features f\nUSING(Store)\nlimit 5\n')

File /databricks/python/lib/python3.11/site-packages/IPython/core/interactiveshell.py:2541, in InteractiveShell.run_cell_magic(self, magic_name, line, cell)
   2539 with self.builtin_trap:
   2540     args = (magic_arg_s, cell)
-> 2541     result = fn(*args, **kwargs)
   2543 # The code below prevents the output from being displayed
   2544 # when using magics with decorator @output_can_be_silenced
   2545 # when the last Python token in the expression is a ';'.
   2546 if getattr(fn, magic.MAGIC_OUTPUT_CAN_BE_SILENCED, False):

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:147, in SqlMagic.sql(self, line, cell)
    143     raise Exception(
    144         "Cannot run %sql command because spark connect initialization failed and no stacktrace was available."
    145     )
    146 if self.use_py4j:
--> 147     return self.execute_via_py4j(cell)
    149 return self.execute_via_sql_comm_handler(cell)

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:231, in SqlMagic.execute_via_py4j(self, cell)
    228 except BaseException as e:
    229     self.driver_activity_logger.logExecuteCommandEvent("SQL_MAGIC_PY4J_FAILED",
    230                                                        json.dumps(get_debug_info(e)))
--> 231     raise e
    232 self.driver_activity_logger.logExecuteCommandEvent("SQL_MAGIC_PY4J_SUCCEEDED")
    233 return result

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:227, in SqlMagic.execute_via_py4j(self, cell)
    225         print(f"Executing subquery: {query_text}.", file=sys.__stdout__)  # type: ignore
    226         sql_directive = self.entry_point.getSqlDirective(query_text)
--> 227         result = self.handle_sql_directive(sql_directive, i == number_of_sub_queries - 1)
    228 except BaseException as e:
    229     self.driver_activity_logger.logExecuteCommandEvent("SQL_MAGIC_PY4J_FAILED",
    230                                                        json.dumps(get_debug_info(e)))

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:249, in SqlMagic.handle_sql_directive(self, sql_directive, is_last_query)
    247     df = self.get_query_request_result(f"SELECT * FROM {table_name}")
    248 elif directive_name == "NoDirective":
--> 249     df = self.get_query_request_result(sql_directive.sql())
    250     if df is None or len(df.schema) == 0:
    251         # E.g. "create or replace temp view abc as select 1" gets us here and we should not return a result in this case.
    252         return None

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:124, in SqlMagic.get_query_request_result(self, query)
    122 if len(widget_bindings := self.dbutils.widgets.getAll()) > 0:
    123     self.driver_activity_logger.logExecuteCommandEvent("PARAM_SYNTAX_USAGE")
--> 124 df = self.asserting_spark.sql(query, widget_bindings)
    125 return df

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/session.py:736, in SparkSession.sql(self, sqlQuery, args, **kwargs)
    733         _views.append(SubqueryAlias(df._plan, name))
    735 cmd = SQL(sqlQuery, _args, _named_args, _views)
--> 736 data, properties, ei = self.client.execute_command(cmd.command(self._client))
    737 if "sql_command_result" in properties:
    738     df = DataFrame(CachedRelation(properties["sql_command_result"]), self)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1297, in SparkConnectClient.execute_command(self, command, observations, extra_request_metadata)
   1295     req.user_context.user_id = self._user_id
   1296 req.plan.command.CopyFrom(command)
-> 1297 data, _, metrics, observed_metrics, properties = self._execute_and_fetch(
   1298     req, observations or {}, extra_request_metadata
   1299 )
   1300 # Create a query execution object.
   1301 ei = ExecutionInfo(metrics, observed_metrics)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1755, in SparkConnectClient._execute_and_fetch(self, req, observations, extra_request_metadata, self_destruct)
   1752 properties: Dict[str, Any] = {}
   1754 with Progress(handlers=self._progress_handlers, operation_id=req.operation_id) as progress:
-> 1755     for response in self._execute_and_fetch_as_iterator(
   1756         req, observations, extra_request_metadata or [], progress=progress
   1757     ):
   1758         if isinstance(response, StructType):
   1759             schema = response

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1731, in SparkConnectClient._execute_and_fetch_as_iterator(self, req, observations, extra_request_metadata, progress)
   1729     raise kb
   1730 except Exception as error:
-> 1731     self._handle_error(error)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:2047, in SparkConnectClient._handle_error(self, error)
   2045 self.thread_local.inside_error_handling = True
   2046 if isinstance(error, grpc.RpcError):
-> 2047     self._handle_rpc_error(error)
   2048 elif isinstance(error, ValueError):
   2049     if "Cannot invoke RPC" in str(error) and "closed" in str(error):

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:2149, in SparkConnectClient._handle_rpc_error(self, rpc_error)
   2134                 raise Exception(
   2135                     "Python versions in the Spark Connect client and server are different. "
   2136                     "To execute user-defined functions, client and server should have the "
   (...)
   2145                     "https://docs.databricks.com/en/release-notes/serverless.html."
   2146                 )
   2147             # END-EDGE
-> 2149             raise convert_exception(
   2150                 info,
   2151                 status.message,
   2152                 self._fetch_enriched_error(info),
   2153                 self._display_server_stack_trace(),
   2154             ) from None
   2156     raise SparkConnectGrpcException(status.message) from None
   2157 else:

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `default`.`walmart` because it already exists.
Choose a different name, drop the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, add the OR REPLACE clause to replace the existing materialized view, or add the OR REFRESH clause to refresh the existing streaming table. SQLSTATE: 42P07

JVM stacktrace:
org.apache.spark.sql.catalyst.analysis.TableAlreadyExistsException
	at org.apache.spark.sql.errors.QueryCompilationErrors$.tableAlreadyExistsError(QueryCompilationErrors.scala:2243)
	at org.apache.spark.sql.execution.datasources.v2.AtomicCreateTableAsSelectExec.run(WriteToDataSourceV2Exec.scala:174)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.$anonfun$result$2(V2CommandExec.scala:48)
	at org.apache.spark.sql.execution.SparkPlan.runCommandInAetherOrSpark(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.$anonfun$result$1(V2CommandExec.scala:48)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:47)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:45)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:56)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$5(QueryExecution.scala:461)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$4(QueryExecution.scala:461)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:246)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$3(QueryExecution.scala:460)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$13(SQLExecution.scala:523)
	at com.databricks.sql.util.MemoryTrackerHelper.withMemoryTracking(MemoryTrackerHelper.scala:111)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$12(SQLExecution.scala:443)
	at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:817)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$11(SQLExecution.scala:372)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:97)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:121)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:115)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:120)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$10(SQLExecution.scala:372)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:846)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:371)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:237)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:770)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$2(QueryExecution.scala:456)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1331)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$1(QueryExecution.scala:452)
	at org.apache.spark.sql.execution.QueryExecution.withMVTagsIfNecessary(QueryExecution.scala:381)
	at org.apache.spark.sql.execution.QueryExecution.org$apache$spark$sql$execution$QueryExecution$$eagerlyExecute$1(QueryExecution.scala:450)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$8$1.applyOrElse(QueryExecution.scala:517)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$8$1.applyOrElse(QueryExecution.scala:509)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:521)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:121)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:521)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:361)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:357)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:497)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$8(QueryExecution.scala:509)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:418)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:509)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyCommandExecuted$1(QueryExecution.scala:337)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1687)
	at org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1748)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:342)
	at org.apache.spark.sql.classic.Dataset.<init>(Dataset.scala:428)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$3(Dataset.scala:155)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1157)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.classic.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1157)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:146)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$sql$4(SparkSession.scala:936)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.sql(SparkSession.scala:888)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.executeSQL(SparkConnectPlanner.scala:3382)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.handleSqlCommand(SparkConnectPlanner.scala:3211)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.process(SparkConnectPlanner.scala:3089)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.handleCommand(ExecuteThreadRunner.scala:419)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.$anonfun$executeInternal$1(ExecuteThreadRunner.scala:316)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.$anonfun$executeInternal$1$adapted(ExecuteThreadRunner.scala:237)
	at org.apache.spark.sql.connect.service.SessionHolder.$anonfun$withSession$2(SessionHolder.scala:466)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.connect.service.SessionHolder.$anonfun$withSession$1(SessionHolder.scala:466)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:97)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:121)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:115)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:120)
	at org.apache.spark.sql.connect.service.SessionHolder.withSession(SessionHolder.scala:465)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.executeInternal(ExecuteThreadRunner.scala:237)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.org$apache$spark$sql$connect$execution$ExecuteThreadRunner$$execute(ExecuteThreadRunner.scala:140)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner$ExecutionThread.$anonfun$run$2(ExecuteThreadRunner.scala:620)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at com.databricks.unity.UCSEphemeralState$Handle.runWith(UCSEphemeralState.scala:51)
	at com.databricks.unity.HandleImpl.runWith(UCSHandle.scala:104)
	at com.databricks.unity.HandleImpl.$anonfun$runWithAndClose$1(UCSHandle.scala:109)
	at scala.util.Using$.resource(Using.scala:296)
	at com.databricks.unity.HandleImpl.runWithAndClose(UCSHandle.scala:108)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner$ExecutionThread.run(ExecuteThreadRunner.scala:620)

In [0]:
%sql
SELECT * FROM walmart

Size,type,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
151315,A,2010-02-05,1643690.9,0,42.31,2.572,211.0963582,8.106
151315,A,2010-02-12,1641957.44,1,38.51,2.548,211.2421698,8.106
151315,A,2010-02-19,1611968.17,0,39.93,2.514,211.2891429,8.106
151315,A,2010-02-26,1409727.59,0,46.63,2.561,211.3196429,8.106
151315,A,2010-03-05,1554806.68,0,46.5,2.625,211.3501429,8.106

In [0]:
import pandas as pd

In [0]:
dataset = spark.table("workspace.default.walmart")

In [0]:
walmart = dataset.toPandas()

In [0]:
walmart.head()

     Size type        Date  ...  Fuel_Price         CPI  Unemployment
0  151315    A  2010-02-05  ...       2.572  211.096358         8.106
1  151315    A  2010-02-12  ...       2.548  211.242170         8.106
2  151315    A  2010-02-19  ...       2.514  211.289143         8.106
3  151315    A  2010-02-26  ...       2.561  211.319643         8.106
4  151315    A  2010-03-05  ...       2.625  211.350143         8.106

[5 rows x 9 columns]

In [0]:
walmart.isnull().sum()

Size            0
type            0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [0]:
import pandas as pd
walmart = spark.table("workspace.default.walmart")

In [0]:
Wal = walmart.toPandas()
Wal.head()

     Size type        Date  ...  Fuel_Price         CPI  Unemployment
0  151315    A  2010-02-05  ...       2.572  211.096358         8.106
1  151315    A  2010-02-12  ...       2.548  211.242170         8.106
2  151315    A  2010-02-19  ...       2.514  211.289143         8.106
3  151315    A  2010-02-26  ...       2.561  211.319643         8.106
4  151315    A  2010-03-05  ...       2.625  211.350143         8.106

[5 rows x 9 columns]

In [0]:
Wal['Date'] = pd.to_datetime(Wal['Date'])
Wal['Month'] = Wal['Date'].dt.month
Wal.head()

     Size type       Date  ...         CPI  Unemployment  Month
0  151315    A 2010-02-05  ...  211.096358         8.106      2
1  151315    A 2010-02-12  ...  211.242170         8.106      2
2  151315    A 2010-02-19  ...  211.289143         8.106      2
3  151315    A 2010-02-26  ...  211.319643         8.106      2
4  151315    A 2010-03-05  ...  211.350143         8.106      3

[5 rows x 10 columns]

In [0]:
Wal['Holiday_Flag'] = Wal['Holiday_Flag'].astype(bool)
Wal.head()

     Size type       Date  ...         CPI  Unemployment  Month
0  151315    A 2010-02-05  ...  211.096358         8.106      2
1  151315    A 2010-02-12  ...  211.242170         8.106      2
2  151315    A 2010-02-19  ...  211.289143         8.106      2
3  151315    A 2010-02-26  ...  211.319643         8.106      2
4  151315    A 2010-03-05  ...  211.350143         8.106      3

[5 rows x 10 columns]

In [0]:
Wal['Percent_change'] = Wal['Weekly_Sales'].pct_change()
Wal.head()

     Size type       Date  ...  Unemployment  Month  Percent_change
0  151315    A 2010-02-05  ...         8.106      2             NaN
1  151315    A 2010-02-12  ...         8.106      2       -0.001055
2  151315    A 2010-02-19  ...         8.106      2       -0.018264
3  151315    A 2010-02-26  ...         8.106      2       -0.125462
4  151315    A 2010-03-05  ...         8.106      3        0.102913

[5 rows x 11 columns]

In [0]:
Wal['Percent_change'] = Wal['Percent_change'].round(2)

In [0]:
Wal.head()

     Size type       Date  ...  Unemployment  Month  Percent_change
0  151315    A 2010-02-05  ...         8.106      2             NaN
1  151315    A 2010-02-12  ...         8.106      2           -0.00
2  151315    A 2010-02-19  ...         8.106      2           -0.02
3  151315    A 2010-02-26  ...         8.106      2           -0.13
4  151315    A 2010-03-05  ...         8.106      3            0.10

[5 rows x 11 columns]

In [0]:
Wal['Percent_change'] = Wal['Percent_change'] *100

In [0]:
Wal.head()

     Size type       Date  ...  Unemployment  Month  Percent_change
0  151315    A 2010-02-05  ...         8.106      2             NaN
1  151315    A 2010-02-12  ...         8.106      2            -0.0
2  151315    A 2010-02-19  ...         8.106      2            -2.0
3  151315    A 2010-02-26  ...         8.106      2           -13.0
4  151315    A 2010-03-05  ...         8.106      3            10.0

[5 rows x 11 columns]

In [0]:
Wal.rename(columns={'Percent_change': '%_change_in_sales'})

     Size type       Date  ...  Unemployment  Month  %_change_in_sales
0  151315    A 2010-02-05  ...         8.106      2                NaN
1  151315    A 2010-02-12  ...         8.106      2               -0.0
2  151315    A 2010-02-19  ...         8.106      2               -2.0
3  151315    A 2010-02-26  ...         8.106      2              -13.0
4  151315    A 2010-03-05  ...         8.106      3               10.0

[5 rows x 11 columns]